* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: '微軟正黑體', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
  color: #2c2433;
  background: linear-gradient(to bottom right, #8dbdfc, #e8d5f7);
}

/* 履歷容器 */
.resume {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #bdd1ff, #dfdbff); /* 背景漸變 */
  position: relative; /* 添加相對位置 */
}

/* 頁頭 */
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bighead {
  width: 150px;
  height: 150px;
  background-color: #e3dede; /* 大頭像的佔位符 */
  border-radius: 50%;
}

.about {
  flex-grow: 1;
  margin-left: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.about1 {
  list-style-type: none;
}

.about2 {
  margin-bottom: 5px;
}

/* 個人簡介 */
.profile {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

p {
  line-height: 1.6;
}

/* 教育背景 */
.education {
  margin-bottom: 20px;
}

.school {
  margin-left: 20px;
}

/* 添加圓形點綴 */
.circle1,
.circle2 {
  width: 20px;
  height: 20px;
  background-color: #333; /* 圓形點的顏色 */
  border-radius: 50%; /* 將方形點轉換為圓形 */
  position: absolute; /* 使圓形點相對於其父元素定位 */
}

.circle1 {
  top: -8px;
  left: -10px;
}

.circle2 {
  bottom: -9px;
  right: -6px;
}

/* 技能 */
.skills,
.language {
  margin-bottom: 20px;
}

.skills1,
.language p {
  margin-bottom: 10px;
}

/* 技能列表 */
.skills1 ul {
  list-style-type: none;
  padding-left: 0;
}

.skills1 ul li {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* 語言列表 */
.language ul {
  list-style-type: none;
  padding-left: 0;
}

.language ul li {
  display: inline-block;
  background-color: #f1f1f1;
  padding: 8px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}